// Breakpoints
	$breakepoints: (
		xl: 1300px,
		lg: 1200px,
		md: 992px,
		sm: 768px,
		xs: 480px
	);

	//Defaults
	$defaults: (
		'line-height': 1.4em,
		//Dotdotdot plugin is supported just add these classes { .font-size-[size].dotdotdot.lines-[1-5] }
		'line-height-size': 1.4,
		'border-radius': 5px
	);
              

//Typography
	//Font Sizes
	// .font-size-attr
	$font_sizes: (
		small: 	12px,
		default: 14px,
		medium: 	16px,
		large: 	18px
	);


	//Text Colors
	// .color-attr
	// .hover-color-attr
	$text_colors: (
	
	);

	//BG Colors
	// .bg-attr
	// .hover-bg-attr
	$bg_colors: (
	
	);

	$spacings: (
		'small' : 10px,
		'medium' : 15px,
		'default' : 20px,
		'large' : 25px
	);


	//Icons
	$icon: (
		sizes: (
			'sm': 10px,
			'md': 16px,
			'lg': 20px,
			'xl': 24px,
		),

		sources: (
			//('icon_name', '/', 'png'),

			//Other icons
			//('filename', 'path/', 'png'),
		)
	);

