
	//Defaults
	$defaults: (
		'font-size': get_font_size_by_breakpoint('default', 'default'),
		'line-height': 1.4em,
		//Dotdotdot plugin is supported just add these classes { .font-size-[size].dotdotdot.lines-[1-5] }
		'line-height-size': 1.4,
		'border-radius': 5px
	);
              

//Typography
	//Font Sizes
	// .font-size-attr
	// get_font_size_by_breakpoint('small', 'xs');
	$font_sizes: (
		// 'demo': (
		// 	'default' : 12px,
		// 	'lg' : 'previous', // default | previous | 12unit | 12%
		// 	'md' : 'previous',
		// 	'sm' : 'previous',
		// 	'xs' : 'previous',
		//	'custom_breakpoint' : 'default'
		// ),
		'default': (
			'default' : 14px,
			'lg' : 'previous',
			'md' : 'previous',
			'sm' : 'previous',
			'xs' : 'previous'
		)
	);

	// Colors
	// .color-attr
	// .hover-color-attr
	// .bg-attr
	// .hover-bg-attr
	$colors: (
	
	);

	$spacings: (
		'small' : 10px,
		'default' : 15px,
		'medium' : 20px,
		'large' : 25px
	);


	//Icons
	$icon: (
		sizes: (
			'sm': 10px,
			'md': 16px,
			'lg': 20px,
			'xl': 24px,
		),

		sources: (
			//('icon_name', '/', 'png'),

			//Other icons
			//('filename', 'path/', 'png'),
		)
	);

