// ----------------------------------------------------------------------------------
// Create a mixin for each media and then call it from the main _media.scss
// Prefered name : PAGE_NAME_media_max_lg
// 
// @mixin homepage_media_max_lg{
//	...
// }
// ----------------------------------------------------------------------------------