// Breakpoints
	$breakepoints: (
		xl: 1300px,
		lg: 1200px,
		md: 992px,
		sm: 768px,
		xs: 480px
	);
              

//Typography
	//Font Sizes
	// .font-size-attr
	$font_sizes: (
		small: 	12px,
		default: 14px,
		medium: 	16px,
		large: 	18px
	);


	//Text Colors
	// .color-attr
	$text_colors: (
	
	);

	//Icons
	$icon: (
		sizes: (
			'sm': 10px,
			'md': 16px,
			'lg': 20px,
			'xl': 24px,
		),

		sources: (
			//('filename', '/', 'png'),

			//Other icons
			//('filename', 'path/', 'png'),
		)
	);

