.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;

	&.items-top {
		align-items: flex-start;
	}

	&.items-bottom {
		align-items: flex-end;
	}

	&.items-left {
		justify-content: flex-start;
	}

	&.items-right {
		justify-content: flex-end;
	}


	//Each Item
	.item-left {
		margin-right:auto;
	}

	.item-right {
		margin-left:auto;
	}
			
	.item-top {
		align-self: flex-start;
	}
			
	.item-bottom {
		align-self: flex-end;
	}
}