
//Font Sizes
@each $element, $font_size in $font_sizes {
	.font-size-#{$element} {
		font-size: $font_size;
		line-height: map-get($defaults, 'line-height');

		&.dotdotdot {
			@for $i from 1 through 5 {
				&.lines-#{$i} {
					max-height: ($font_size * map-get($defaults, 'line-height-size')) * $i;
					overflow:hidden;
				}
			}
		}
	}

}

//Text Colors
@each $element, $color in $colors {
	.color-#{$element} {
		color: $color;
	}

	.hover-color-#{$element} {
		&:hover {
			color: $color;
		}
	}

	.bg-#{$element} {
		background-color: $color;
	}

	.hover-bg-#{$element} {
		&:hover {
			background-color: $color;
		}
	}
}