/* ==========================================================================

Author: Dajan Vulaj ,Dorjan Vulaj
Author URI: https://max.al
Version: 1.0.0

========================================================================== */

// Fonts
	@import url('https://fonts.googleapis.com/css?family=Nunito');

//NodeJS Packages
	// Bootstrap
	@import '~bootstrap/scss/bootstrap';


// NonPointing Helpers
	@import './helpers/variables';
	@import './helpers/mixins';

/* Css style goes here */
	* {
		margin:0px; 
		padding:0px; 
		font-size:map-get($font_sizes, 'default'); 
		//letter-spacing:$letterSpacing;

		&:before,
		&:after {
			box-sizing: inherit;
		}
	}

	html {
		height: 100%;
		box-sizing: border-box;
	}


	body {
		position: relative;
		margin: 0;
		padding-bottom: 110px !important; 
		min-height: 100%;
		overflow-x:hidden;

		&.overflow-y-hidden {
			overflow-y:hidden;
		}
	}

	.clearfix {
		zoom: 1;
		&:before, &:after {
			content: ".";
			display: block;
			height: 0;
			overflow:hidden;
			&:after {
				clear: both;
			}
		}
	}



	.unselectable, .unselectable > *	{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
	.clear		 						{clear: both;}

	//Pointing Helpers
	@import './helpers/icons';
	@import './helpers/typography';

	// Objects
	//@import './objects/_demo_object/style';
	

	// Layouts
	//@import './layouts/_demo_layout/style';
	

	// Pages
	//@import './pages/_demo_page/style';


	@import './helpers/media';



//THIS ARE USED WILL DEVELOPING AND WILL BE REMOVED
// .dev-outline-red 	{outline:1px solid red;}
// .dev-outline-blue 	{outline:1px solid blue;}


	
	
